################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MRNNexus.DTOs/bin/Debug
/MRNNexus.DTOs/bin/Release
/MRNNexus.DTOs/bin
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
Controllers/
Converters/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
desktop.ini
